/*************************************************************************************************/


/*Main Structure*/


/*************************************************************************************************/

html {
    background-color: #666666;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    border-color: #dddddd;
    border-style: hidden;
    border-width: 5px;
    color: white;
    font-family: 'Raleway';
    margin: 0;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Fjalla One';
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-family: 'Oxygen';
    font-size: 1.3em;
    font-weight: bold;
}

p {
    font-weight: normal;
    text-indent: 2%;
}

a,
a:hover,
a:active,
a:link,
nav {
    color: goldenrod;
    text-decoration: overline;
    font-family: 'Fjalla One';
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*Header*/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

header {
    background-color: #666666;
    border-color: #cccccc;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    vertical-align: middle;
}

.wrapper {
    background-color: #666666;
}

.top {
    height: 4%;
    margin-top: 5px;
    background-color: #666666;
}

.name {
    background-color: #4aaaa5;
    /* -webkit-box-shadow: inset 3rem 0 1em teal, 0 0 1em red; */
    /* box-shadow: inset 3rem 0 1rem teal, 0 0 3rem red; */
    float: left;
    height: 100%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0.6rem;
    text-align: center;
    vertical-align: middle;
    width: 20%;
    z-index: 0;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*Navigation*/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.navbar {
    float: right;
    background-color: teal;
    height: 10%;
    margin-top: 1rem;
    padding: 0.7rem;
}

.navlink {
    font-size: 14px;
    text-decoration: none;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*Main Content*/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.main {
    background-image: url('https://c1.staticflickr.com/3/2912/32591985983_a04803fa85_h.jpg');
    background-size: contain;
    margin-top: 0.9rem;
    padding-top: 2rem;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*Contact*/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.connect {
    background-color: rgba(135, 206, 250);
    background-color: rgba(135, 206, 250, 0.3);
    border-radius: 8%;
    float: right;
    text-align: center;
    width: 270px;
}

.fa-github-square {
    color: rgb(24, 24, 24);
    color: rgba(24, 24, 24, 0.9);
    padding: 8px;
}

.fa-linkedin-square {
    color: rgb(11, 92, 162);
    color: rgba(11, 92, 162, 0.8);
    padding: 8px;
}

.fa-stack-overflow {
    color: rgb(255, 117, 51);
    color: rgba(255, 117, 51, 1);
    padding: 8px;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*Footer*/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

footer {
    background-color: #666666;
    clear: both;
    color: #d5d5d5;
    font-size: 1rem;
    height: 10%;
    padding-top: 1rem;
    text-align: center;
    vertical-align: middle;
}

.clear-header {
    clear: both;
}

.line {
    background-color: #4aaaa5;
    clear: both;
    color: #4aaaa5;
}


/*************************************************************************************************/


/*Homepage*/


/*************************************************************************************************/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*About*/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.about-me {
    background-color: rgb(255, 0, 102);
    background-color: rgba(255, 0, 102, 0.1);
    border-color: gold;
    border-style: solid;
    border-radius: 8%;
    float: left;
    margin-left: 15px;
    padding: 10px;
    width: 650px;
}

.profile-picture {
    border-radius: 29%;
    border-style: hidden;
    border-width: 5px;
    float: left;
    height: 40%;
    padding: 10px;
    position: relative;
    width: 25%;
}


/*************************************************************************************************/


/*Portfolio Page*/


/*************************************************************************************************/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*Gallery*/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

gallery-left {
    float: left;
    height: 200px;
    width: 200px;
}

gallery-right {
    float: right;
    height: 200px;
    width: 200px;
}


/*************************************************************************************************/


/*Contact Page*/


/*************************************************************************************************/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*Contact Form*/


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.contact-form {
    text-align: left;
}